@font-face {
  font-family: plumb;
  font-display: swap;
  src: url("../fonts/plumb-light.woff2") format("woff2"), url("../fonts/plumb-light.ttf2") format("ttf2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: plumb;
  font-display: swap;
  src: url("../fonts/plumb-black.woff2") format("woff2"), url("../fonts/plumb-black.ttf2") format("ttf2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: plumb;
  font-display: swap;
  src: url("../fonts/plumb-bold.woff2") format("woff2"), url("../fonts/plumb-bold.ttf2") format("ttf2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: plumb;
  font-display: swap;
  src: url("../fonts/plumb-regular.woff2") format("woff2"), url("../fonts/plumb-regular.ttf2") format("ttf2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: plumbcondensed;
  font-display: swap;
  src: url("../fonts/plumbcondensed-black-webfont_0.woff2") format("woff2"), url("../fonts/plumbcondensed-black-webfont_0.ttf2") format("ttf2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: plumb;
  font-display: swap;
  src: url("../fonts/plumb-medium.woff2") format("woff2"), url("../fonts/plumb-medium.ttf2") format("ttf2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: plumbcondensed;
  font-display: swap;
  src: url("../fonts/plumbcondensed-black_0.woff2") format("woff2"), url("../fonts/plumbcondensed-black_0.ttf2") format("ttf2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: plumbcondensed;
  font-display: swap;
  src: url("../fonts/plumbcondensed-bold_0.woff2") format("woff2"), url("../fonts/plumbcondensed-bold_0.ttf2") format("ttf2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PlumbBoldC;
  font-display: swap;
  src: url("../fonts/PlumbBoldC.woff2") format("woff2"), url("../fonts/PlumbBoldC.ttf2") format("ttf2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: plumbcondensed;
  font-display: swap;
  src: url("../fonts/plumbcondensed-regular.woff2") format("woff2"), url("../fonts/plumbcondensed-regular.ttf2") format("ttf2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PlumbLightC;
  font-display: swap;
  src: url("../fonts/PlumbLightC.woff2") format("woff2"), url("../fonts/PlumbLightC.ttf2") format("ttf2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PlumbMediumC;
  font-display: swap;
  src: url("../fonts/PlumbMediumC.woff2") format("woff2"), url("../fonts/PlumbMediumC.ttf2") format("ttf2");
  font-weight: 400;
  font-style: normal;
}

.header {
  width: 100%;
  z-index: 10;
  padding-top: 22px;
}

.header__inner {
  align-items: center;
  padding-left: 175px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__info {
  letter-spacing: -0.06em;
  font-size: 9px;
  color: #808080;
  margin-right: 20px;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 66px;
}

.header__item:not(:last-child) {
  margin-right: 16px;
}

.header__link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  letter-spacing: -0.06em;
}

.title {
  margin-top: 31px;
}

.title__subtitle {
  padding-left: 175px;
  font-size: 26px;
  font-weight: 500;
  color: #1D1D1B;
  letter-spacing: -0.035em;
}

.title__container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.title__info {
  margin-top: 35px;
  margin-right: 66px;
}

.title__logo {
  max-width: 600px;
}

.title__date {
  font-size: 28px;
  font-weight: 700;
  display: block;
  margin-bottom: 16px;
  letter-spacing: -0.018em;
}

.title__city {
  font-weight: 500;
  font-size: 26px;
  display: block;
  letter-spacing: -0.03em;
}

.title__place {
  font-size: 20px;
  display: block;
  letter-spacing: -0.03em;
}

.title__second {
  color: #2FA6DD;
  padding-left: 175px;
  margin: 40px 0 0 0;
  font-size: 48px;
  max-width: 600px;
  letter-spacing: -0.03em;
  line-height: 1.05em;
}

.themes__span {
  padding-left: 175px;
  font-weight: 700;
  display: block;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: -0.03em;
}

.themes__list {
  padding-left: 175px;
  max-width: 535px;
  list-style: none;
  margin: 12px 0;
}

.themes__item {
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 9px;
  font-weight: 500;
  letter-spacing: -0.035em;
  position: relative;
}

.themes__item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 9px;
  width: 5px;
  height: 1px;
  background-color: black;
}

.contacts {
  flex: 1 0 auto;
}

.contacts__block {
  padding-left: 175px;
  margin-top: 27px;
}

.contacts__span {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 11px 0;
}

.contacts__link {
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: black;
  font-size: 13px;
  line-height: 1.3em;
}

.organization {
  flex: 0 1 auto;
}

.organization__container {
  padding-left: 183px;
  margin-top: 24px;
}

.organization__span {
  font-size: 11px;
  font-weight: 500;
}

.organization__list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.organization__item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.organization__item:not(:last-child) {
  margin-right: 19px;
}

.organization__link {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.organization__logo_margin {
  margin-right: 6px;
}

.organization__organizers-block {
  margin-top: 14px;
  padding-bottom: 40px;
}

.organization__organizer-link {
  display: inline-block;
}

.organization__organizer {
  margin-right: 30px;
}

.organization__position {
  font-size: 10px;
  font-weight: 500;
  display: block;
  margin-bottom: 14px;
  letter-spacing: -0.03em;
}

.archive {
  margin-top: 60px;
}

.archive__logo {
  max-width: 475px;
  padding-left: 90px;
}

.archive__title {
  padding-left: 205px;
  display: block;
  font-weight: 500;
  font-size: 30px;
  color: #2fa6dd;
  max-width: 720px;
  margin-top: 35px;
  letter-spacing: -0.022em;
}

.archive__list {
  padding-left: 205px;
  list-style: none;
  margin-top: 38px;
  max-width: 480px;
}

.archive__item {
  margin-bottom: 27px;
}

.archive__link {
  font-weight: 700;
  display: block;
  color: black;
  text-decoration: none;
  letter-spacing: -0.05em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: plumb;
  font-weight: 400;
}

.page {
  position: relative;
  min-height: 100vh;
  background-image: url(../img/bg.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.wrapper {
  max-width: 1106px;
  margin: auto;
  padding: 0 30px;
}

@media (max-width: 1100px) {
  .header__inner {
    padding-left: 100px;
  }

  .header__link {
    font-size: 14px;
  }

  .title__subtitle {
    padding-left: 100px;
    font-size: 20px;
  }

  .title__logo {
    max-width: 340px;
  }

  .title__second {
    padding-left: 100px;
    margin: 15px 0 0 0;
    font-size: 40px;
    max-width: 500px;
  }

  .themes__span {
    padding-left: 100px;
  }

  .themes__list {
    padding-left: 100px;
    max-width: 430px;
    margin: 20px 0;
  }

  .contacts__block {
    padding-left: 100px;
    margin-top: 40px;
  }

  .organization__container {
    padding-left: 108px;
    margin-top: 24px;
  }

  .archive__logo {
    max-width: 340px;
    padding-left: 0px;
  }

  .archive__title {
    padding-left: 100px;
    max-width: 590px;
  }

  .archive__list {
    padding-left: 100px;
    list-style: none;
    margin-top: 38px;
    max-width: 335px;
  }

  .archive__link {
    font-size: 14px;
  }
}

@media (max-width: 730px) {
  .header {
    background-color: #2FA6DD;
    padding: 0;
  }

  .header__inner {
    padding-left: 0;
    justify-content: center;
    align-items: center;
    height: 24px;
  }

  .header__info {
    display: none;
  }

  .header__list {
    margin: 0;
    max-width: 360px;
    justify-content: space-between;
  }

  .header__link {
    font-size: 9px;
    color: white;
    display: block;
  }

  .header__item {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .header__item:not(:last-child) {
    position: relative;
  }

  .header__item:not(:last-child)::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: white;
    right: -9px;
    top: 0;
  }

  .title {
    order: 1;
    margin-top: 20px;
  }

  .title__container {
    flex-direction: column;
  }

  .title__subtitle {
    padding-left: 88px;
    font-size: 12.5px;
  }

  .title__logo {
    max-width: 290px;
    order: 1;
  }

  .title__info {
    padding-left: 88px;
    order: 3;
    margin-top: 24px;
    margin-right: 0;
  }

  .title__second {
    padding-left: 88px;
    margin: 15px 0 0 0;
    font-size: 24px;
    max-width: 350px;
    order: 2;
    letter-spacing: -0.05em;
  }

  .title__date {
    font-size: 19px;
    margin-bottom: 6px;
    letter-spacing: -0.03em;
  }

  .title__city {
    font-size: 17px;
  }

  .title__place {
    font-size: 13px;
  }

  .themes {
    order: 2;
  }

  .themes__span {
    padding-left: 88px;
    font-size: 13px;
    margin-top: 25px;
  }

  .themes__list {
    padding-left: 88px;
    max-width: 315px;
    margin: 8px 0;
  }

  .themes__item {
    font-size: 13px;
    letter-spacing: -0.045em;
    line-height: 1.1em;
    padding-left: 8px;
  }

  .contacts {
    order: 4;
    background-color: #2FA6DD;
  }

  .contacts__block {
    padding-left: 0;
    margin-top: 12px;
    color: white;
  }

  .contacts__span {
    font-size: 12px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__link {
    color: white;
    font-size: 11px;
    font-weight: 400;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .organization {
    order: 3;
    margin-top: 195px;
  }

  .organization__span {
    font-size: 8px;
  }

  .organization__container {
    padding-left: 0;
    margin-top: 24px;
  }

  .organization__organizer {
    margin-right: 15px;
  }

  .organization__position {
    font-size: 8px;
  }

  .organization__logo {
    margin-bottom: 10px;
  }

  .organization__logo_90 {
    max-width: 90px;
  }

  .organization__logo_75 {
    max-width: 75px;
  }

  .organization__logo_40 {
    max-width: 40px;
  }

  .organization__logo_20 {
    max-width: 20px;
  }

  .archive__logo {
    max-width: 290px;
  }

  .archive__title {
    padding-left: 88px;
    font-size: 22px;
    max-width: 500px;
  }

  .archive__list {
    padding-left: 88px;
    max-width: 285px;
    padding-bottom: 175px;
  }

  .archive__link {
    font-size: 12px;
  }

  .page {
    background-image: none;
  }

  .main {
    background-image: url(../img/mobile-bg.png);
    background-size: auto;
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
  }

  .main_bg-down {
    background-position-y: bottom;
  }

  .wrapper {
    padding: 0px 16px 0 30px;
  }
}