.header {
  width: 100%;
  z-index: 10;
  padding-top: 22px;

  &__inner {
    align-items: center;
    padding-left: $offset-left;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__info {
    letter-spacing: -0.06em;
    font-size: 9px;
    color: #808080;
    margin-right: 20px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 66px;
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-weight: 700;
    letter-spacing: -0.06em;
  }

  @include tablet {
    &__inner {
      padding-left: $offset-tablet-left;

    }

    &__link {
      font-size: 14px;
    }
  }

  @include mobile {
    background-color: $color-secondary;
    padding: 0;

    &__inner {
      padding-left: 0;
      justify-content: center;
      align-items: center;
      height: 24px;
    }

    &__info {
      display: none;
    }

    &__list {
      margin: 0;
      max-width: 360px;
      justify-content: space-between;
    }

    &__link {
      font-size: 9px;
      color: white;
      display: block;
    }

    &__item {
      height: fit-content;
    }

    &__item:not(:last-child) {
     position: relative;
     &::after{
      position: absolute;
      content: '';
      height: 100%;
      width: 1px;
      background-color: white;
      right: -9px;
      top: 0;
     }
    }
  }
}